.event-card {
    border: 5px solid var(--white);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    background-color: var(--white);
}

.event-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.event-card a:hover{
    text-decoration: none;
    box-shadow: none;
}

.event-card:hover{
    box-shadow: none;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffe7e8' fill-opacity='0.45'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
.event-card a:hover{
    color:initial;
}
.event-card:hover h3{
    padding-left :0.2em;
    padding-right :0.2em;
}
.event-card h3{
    /* min-height: 65px;  */
    display: inline-block;
    vertical-align: middle;
}

.event-card p{
    margin:0.1em;
    font-size: 0.9rem;
   
}