.App {
  text-align: center;
  min-height: 100vh;
  /*align-items: center; */
  /* justify-content: center; */
  color: var(--dark);
  background-color: var(--light);
  display: flex;
  flex-direction: column;
}

/* 1. Configuration */
/* Custom Properties */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Source+Code+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;400;700;900&display=swap');
:root {
  /* Main colours */
  --dark: #071013;
  --medium: #EB5160;
  --medium-text: #E41B2F;
  --light: rgb(255, 231, 231);
  --white: #fff ;
  --accent: #CBCF06;
  --fw-reg: 300;
  --fw-bold: 700;
  --ff-body: 'Roboto', sans-serif;
  --ff-code: 'Philosopher', sans-serif;
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.3rem;
  --fs-body: 1.05rem;
  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(61,64,91,.25), 
        0.125em 0.125em 0.25em rgba(61,64,91,.15);
  /* padding container */
  --bloc: 5vh 10vw;
}

@media (min-width: 900px) {
  :root {
    --fs-h1: 2.5em;
    --fs-h2: 1.5em;
    --fs-h3: 1.3em;
    --fs-body: 1rem;
  }
}

/* Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height:100%;
}

body {
  font-family: var(--ff-body);
  color: var(--dark);
  font-size: var(--fs-body);
  line-height: 1.6;
  max-height:100%;
  overscroll-behavior: none;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--medium);
  outline-offset: 3px;
}

/* Fonts */


/* Typography */
h1,
h2,
h3 {
  font-family: var(--ff-code);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin: 0;
  padding: 0.5em 0;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--dark);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
  color: var(--medium-text)
}

.section__title {
  font-size: var(--fs-h2);
  color: var(--medium-text);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--accent);
  font-family: var(--ff-code);
}

a {
  font-size: inherit;
  font-family: var(--ff-code);
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--medium);
  text-decoration: underline;
}

/* 2. Layout-related sections */
/* Header */
.main{
  flex: 1 0 auto;
}
.header {
  background-color: var(--dark);
  color: var(--light);
  padding: 3vh 10vw 0;
}

.intro__text {
  padding: 0 8vw ;
}

.spinner{
  margin: 30px auto ;
  width:20px;
}


#project-list {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px;
  padding: 0 8vw;
}

@media screen and (min-width: 600px) {
  #project-list {
  grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 900px) {
  #project-list {
  grid-template-columns: 1fr 1fr 1fr;
  }

}

/* Form */
.button{
  padding:5px 10px;
  border: 1px solid black;
  border-radius: 50px;
  margin:5px;
}
.button:hover{
  background-color: var(--accent);
  color:black;
  text-decoration: none;
}

/* Event */
.content{
  display:flex;
  align-items: center;
  flex-direction:column;
}
.content img{
  object-fit: cover;
}
.content__text{
  text-align:left;
  padding:20px;
}
.content__category{
  position: absolute;
  top: 0;
  right: 0px;
  background-color: var(--accent);
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.content__img{
  position:relative;
}

@media screen and (min-width: 600px) {
  .content{
    flex-direction:row;
  }
  .content img{
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
  }
  .content__img{
    max-width:50%;
  }
  .content__category{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: var(--accent);
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}